<div class="navbar">
  <div class="nav-left">
    <%= link_to raw("<p>AptReviews</p>"), root_path %>
      <form class="nav-search" method="GET" action="/apartments/search">
        <input type="text" name="search_input" id="search_input_field" placeholder="Search City, Address, or URL"/>
        <input type="submit" value="Search" />
      </form>
  </div>

  <div class="nav-right">
    <% if session[:user_id].nil? %>
      <ul>
        <li><%= link_to "Join us!", new_user_path %></li>
        <li><%= link_to "Login", "/login" %></li>
      </ul>
    <% else %>
      <% user = User.find(session[:user_id]) %>
      <ul>
        <li><%= link_to "My Profile", user_path(user), id: 'profile'  %></li>
        <li><%= link_to "Logout", session_path, method: :delete %></li>
      </ul>
    <% end %>
  </div>
</div>