<%= form_for [@apartment] do |f| %>

  <div class="label-input">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  
  <div class="label-input">
    <%= f.label :unit %>
    <%= f.text_field :unit %>
  </div>

  <%= f.submit @apartment.id.nil? ? "Add!" : "Save Changes" %>
<% end %>